<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="flex-ns justify-between items-end">

			<div>
				<h3 class="f4 b lh-title mb1 primary">
					<div class="niku tc font-heading fw8 ttu" title="Niku">N<span class="emoji">🍖</span>KU</div>
				</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/post" class="link">Food</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<!-- <h3 class="f4 b lh-title mb1 primary ttu tracked">Find out more</h3> -->
				Part of the <a href="https://www.alwaysblank.org" target="_blank" rel="noopener noreferrer">Always Blank</a> family of products.
			</div>

			<!-- <div>
				<h3 class="f4 b lh-title mb2 primary ttu tracked">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
				</ul>
			</div> -->

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
